/* styles.css */

.hero-title {
  color: red;
  font-size: 2.75rem;
  font-weight: bold;
}

.hero-subtitle {
  color: black;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.hero-color {
  color: red;
}